@media(min-width: $break_medium) {
  .twelve-column {
    margin: 0 auto;
    width: 990px;
  }
  .eleven-column {
    margin: 0 auto;
    width: 905px;
  }
  .ten-column {
    margin: 0 auto;
    width: 820px;
  }
  .nine-column {
    margin: 0 auto;
    width: 735px;
  }
  .eight-column {
    margin: 0 auto;
    width: 650px;
  }
  .seven-column {
    margin: 0 auto;
    width: 565px;
  }
  .six-column {
    margin: 0 auto;
    width: 480px;
  }
  .five-column {
    margin: 0 auto;
    width: 395px;
  }
  .four-column {
    margin: 0 auto;
    width: 310px;
  }
  .three-column {
    margin: 0 auto;
    width: 225px;
  }
  .two-column {
    margin: 0 auto;
    width: 140px;
  }
  .one-column {
    margin: 0 auto;
    width: 55px;
  }
}