---
title: Dropbox for Business
---

<%# START OF HEADER %>
<section class="m-header">
  <div class="m-header-content">
    <%= partial "partials/_nav" %>
    <div class="m-header-text">
      <h1>Get your team in sync</h1>
      <h2>Dropbox for Business lets your team collaborate on important projects anywhere, while keeping IT in control.</h2>
      <div>
        <%= link_to 'Try it free', '#', :class => "m-header--button" %>
        <span>or <%= link_to 'buy for $15 &#47; user &#47; month', '' %></span>
      </div>
    </div>
  </div>
</section>
<%# END OF HEADER %>

<%# START OF CONTENT %>
<section class="m-content">
  <div class="m-content__db-why">
    <article class="business">
      <h2>The power to do more</h2>
      <p></p>
    </article>
    <article class="business">
      <h2>Security inspires confidence</h2>
      <p></p>
    </article>
    <article class="business">
      <h2>A smarter investment</h2>
      <p></p>
    </article>
  </div>
  <div class="m-content__db-business">
    
  </div>
  <div class="m-content__db-video">
    
  </div>
  <div class="m-content__db-signup">
    
  </div>
</section>
<%# END OF CONTENT %>

<%# START OF FOOTER %>
<section class="m-footer">
  <div class="m-footer-nav">
    
  </div>
</section>
<%# END OF FOOTER %>